*{
  padding: 0; margin: 0;
}

%webpage {
  width: 100%;
  height: 100%;
}

html,body,.swiper-container {
   @extend  %webpage;
}

@for $i from 1 through 3 {
   .box-#{$i} {
      background-color: darken(darkgoldenrod,5% * $i);
   }
}